# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [3]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [5]:
# H0 : no difference or less/ H1: difference:greater: assuming there is no difference its likely to observe difference: reject H0

In [6]:
alpha = 0.05

In [7]:
# Two sample test
dragon = df[(df['Type 1'] == 'Dragon') | (df['Type 2'] == 'Dragon')]['HP']
grass = df[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Grass')]['HP']

In [16]:
st.ttest_ind(dragon, grass, alternative="less")     #alternative = "less", check if first one is less / equal_var=False: (just different)
                                                # alternative= "great" (...,e -): check if first one is greater: Prob(Data given(I) H0 true)
                                                #likelyhood of observing data given H0 is true

TtestResult(statistic=4.4991348531252635, pvalue=0.9999929902862607, df=143.0)

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [22]:
# HO: no difference: p-value < 0.05: assuming no difference, likelihood of seeing difference is very high: reject HO
# H1: difference
alpha = 0.05

In [24]:
non_legend = df[df['Legendary'] == False][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)
legend = df[df['Legendary'] == True][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)

In [26]:
st.ttest_ind(non_legend, legend, equal_var=False)

TtestResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47, df=102.79988763435729)

In [18]:
# Lab feedback: 
stats_columns = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'] #Selecting relevant stats columns

legendary_stats = df[df['Legendary'] == True][stats_columns]
non_legendary_stats = df[df['Legendary'] == False][stats_columns]

for stat in stats_columns:
    stat_test_result = st.ttest_ind(legendary_stats[stat], non_legendary_stats[stat], equal_var=False)
    print(f"{stat} t-test result: {stat_test_result}")

HP t-test result: TtestResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13, df=79.52467830799894)
Attack t-test result: TtestResult(statistic=10.438133539322203, pvalue=2.520372449236646e-16, df=75.88324448141854)
Defense t-test result: TtestResult(statistic=7.637078164784618, pvalue=4.8269984949193316e-11, df=77.7109511135786)
Sp. Atk t-test result: TtestResult(statistic=13.417449984138461, pvalue=1.5514614112239812e-21, df=74.24631137998881)
Sp. Def t-test result: TtestResult(statistic=10.015696613114878, pvalue=2.2949327864052826e-15, df=73.2589256447719)
Speed t-test result: TtestResult(statistic=11.47504444631443, pvalue=1.049016311882451e-18, df=81.62110995711882)

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [56]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [59]:
# H0: no difference
# H1: house close to school or hospital is more expensive

In [61]:
# euclidean distance: 

#a = (ax, ay, az)
#b = (bx, by, bz)
#dist = sqrt((ax-bx)^2 + (ay-by)^2 + (az-bz)^2)

In [63]:
import numpy as np
import pandas as pd

school_coords =(-118, 37)
hospital_coords =(-122, 34)

def calculate_euclidean_distance(row, school_coords, hospital_coords):
    house_lon = row['longitude']
    house_lat = row['latitude']
    distance_to_school = np.sqrt((school_coords[0] - house_lon) ** 2 + (school_coords[1] - house_lat) ** 2)
    distance_to_hospital = np.sqrt((hospital_coords[0] - house_lon) ** 2 + (hospital_coords[1] - house_lat) ** 2)    
    return pd.Series([distance_to_school, distance_to_hospital])

df[['Distance_to_School', 'Distance_to_Hospital']] = df.apply(calculate_euclidean_distance, axis=1, 
                                                                          school_coords=school_coords, 
                                                                          hospital_coords=hospital_coords)
df[['Distance_to_School', 'Distance_to_Hospital']] = df[['Distance_to_School', 'Distance_to_Hospital']].round(2)

In [64]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Distance_to_School,Distance_to_Hospital
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,4.64,7.69
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,4.38,7.54
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.77,7.45
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4.80,7.44
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,4.85,7.44

In [67]:
# close if distance is lower than 0.50    (~)

In [91]:
near = (df['Distance_to_Hospital'] <= 0.5) | (df['Distance_to_School'] <= 0.5)
df_near = df.loc[near]                                               
df_far = df.loc[~near]
df_near

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Distance_to_School,Distance_to_Hospital
4523,-118.05,36.64,34.0,2090.0,478.0,896.0,426.0,2.0357,74200.0,0.36,4.75
5596,-118.18,37.35,16.0,3806.0,794.0,1501.0,714.0,2.1212,108300.0,0.39,5.08
5597,-118.18,36.63,23.0,2311.0,487.0,1019.0,384.0,2.2574,104700.0,0.41,4.64
6776,-118.30,37.17,22.0,3480.0,673.0,1541.0,636.0,2.7500,94500.0,0.34,4.87
6904,-118.31,36.94,35.0,2563.0,530.0,861.0,371.0,2.3250,80600.0,0.32,4.72

In [93]:
# H0: no difference in house price
# H1: difference in house price depeneding on distance to school or hospital
# p.value= < 0.05: there is no no difference in prices between houses which are closer to school or hospital: reject H0

In [99]:
st.ttest_ind(df_near['median_house_value'], df_far['median_house_value'], alternative="greater", equal_var=False)

TtestResult(statistic=-17.174167998688404, pvalue=0.9999738999071939, df=4.145382282040222)

In [79]:
# p-value > 0.05: don't reject HO , we fail to show that houses more expensive (samplesize very small(Just 5 houses that are near)